*{
	margin: 0%;
	padding: 0%;	
	font-family: 'poppins', sans-serif;
}
nav{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	background-color: black;
	color: white;
	padding: 5px;
}
nav .right{
	display: flex;
}
.left img{
	margin-top: -11px;
	width: 33%;
}
nav .left{
	display: flex;
	margin-top: 11px;
}
.left p{
	margin-inline: 22px;
	margin-top: 21px;
}
.right p{
	margin-inline: 22px;
	margin-top: 21px;
}
.right i{
	margin-top: 22px;
	font-size: 22px;
}







#bot{
	width: 100px;
	height: 36px;
	background-color: white;
	color: black;
	font-weight: 600;
	border: none;
	border-radius: 26px;
	margin-top: 12px;
}
.right #bot:hover{
	background-color: transparent;
	color: white;
	border: 2px solid white;
}
.card {
	background-image: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1098,h_618/v1613521717/assets/7a/fd8982-6884-49b9-bb5f-28e6ff2cc0e8/original/Rider_Home_bg_tablet.png);
	background-repeat: no-repeat;
	background-size: 1500px;
	height: 600px;
}
.main{
	width: 400px;
	height: 400px;
	margin-left: 24px;
	background-color: white;
	padding: 50px;

}
.main .icon{
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgb(224, 223, 223);

}
.main .icon .car{
	margin-inline: 74px;
	margin-top: 31px;
	border-bottom: 3px solid black;
}
.main .icon .i{
	font-size: 125%;
}
.card h1{
	padding: 33px;
	font-size: 33px;
}
.card input{
	width: 330px;
	height: 30px;
	padding: 8px;
	border: none;
	margin-left: 33px;
	margin-top: 8px;
	background-color: rgb(235, 232, 232);
}
.card .btn{
	padding: 10px;
}

.card .btn .fr{
	width: 140px;
	height: 36px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 4px;
	margin-inline: 20px;
}
.card .btn button{
	width: 140px;
	height: 36px;
	background-color: rgb(174, 172, 172);
	color: white;
	border: none;
	border-radius: 4px;
	margin-inline: 20px;
}
.head h1{
	padding: 33px;
	font-size: 43px;
}
.ride .uber{
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
.uber .auto{
	display: flex;
	margin-top: 33px;

}
.uber .auto img{
	margin-inline: 33px;
	width: 23%;
	margin-top: 33px;
}
.safe{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	margin-top: 33px;
}
.app{
	background-color: rgb(210, 209, 209);
}
.app h1{
	padding: 33px;
	font-size: 44px;
}
.app .down{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding: 33px;
}
.footer .fimg{
	background-color: black;
	padding: 33px;
	padding-left: 150px;
}
.footer .fmain{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	background-color: black;
	color: white;
	padding: 44px;
	
}


